* {
  margin: 0;
  padding: 0;
}

.container-slide {
  display: flex;
  width: 50vw;
  height: 50vh;
  background: black;
  margin: 20vh auto;
  border-radius: 10px;
  box-shadow: 0 20px 30px black;
  justify-content: space-between;
}

.container-items {
  position: absolute;
  display: flex;
  width: 50vw;
  height: 50vh;
  border-radius: 10px;
  overflow: hidden;
}

.item {
  width: 50vw;
  height: 50vh;
  transition: all 1s;
}

.item:first-child {
  margin-left: -100%;
}

.item img {
  width: 50vw;
  height: 50vh;
  border-radius: 10px;
}

.action-button {
  font: bold 30px sans-serif;
  z-index: 1;
  color: #00000000;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.action-button:hover {
  color: #fff;
  background: #00000055;
  cursor: pointer;
  transition: all 300ms;
}

.action-button:nth-child(1):hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.action-button:nth-child(3):hover {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
